/* ---- Base Rules ---- */
body {
    background: linear-gradient(136.86deg,#57bc90,#00766c);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
    
}



h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: left;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu{
    /* display: block; */
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    z-index: 100;
}
 
.menu__link {
    padding: 5px 5px 5px 5px;
    color: #fff;
} 

/* Header Styles */
.page__header {
    /* background: #fff; */
    /* background: rgb(124, 209, 169); */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* ---- App How It Works Section Rules ----*/

.app__feature__row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    background: #ffc809;
    /* border: 1px solid black; */
    padding: 5px 5px 5px 5px;
    border-radius: 0.5em;
}


.app__feature__item {
    color: #000;
    text-align: center;
}

@media only screen and (min-width:50em){
    .app__feature__row {
        flex-flow: row;
    }

    .app__feature__item {
        font-size: 2em;
    }
}


.notify, .share, .post__update, .thank__donor {
    font-family: 'Font Awesome 5 Free';
}

.notify:before {
    content: '\f0f3';
}

.share:before {
    content: '\f0a1';
}

.post__update:before {
    content: '\f093';
}

.thank__donor:before {
    content: '\f684';
}

/* ---- Theme Rules ---- */
/* Partner Container Styles */

.partner__container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    /* background: #ffc809; */
    /* border: 1px solid black; */
    padding: 5px 5px 5px 5px;
    grid-gap: 10px;

}

@media only screen and (min-width:560px)
{
    .partner__container {
        flex-flow: row;
    }
}
.partner__item {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

.menu__link__change {
    display: block;
    padding: 1em;
    /* font-weight: bold; */
    text-decoration: none;
    color: #000;
    background: lightslategray;
    color: orange;
    /* transition: ease 1.3s all; */
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }



    


}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* ---- FundRaiser Content Style Rules ---- */




.box {
    border: 1px solid yellow;

}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.active-background {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); 
    /* background: lightslategray; */
}

section.active-background .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite backwards;
}

section.active-background .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Style to Change Background of Header on scroll */
.sticky {
    background:  rgb(184, 236, 212);
}

.active-nav {
    color:rgb(119,136,153);
}

.arrow-top {
    position: fixed;
    display: none;
    bottom: 5%;
    right: 2vw;
    background: #000;
    border-radius: 50%;
    padding: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.arrow-top.active {
    display: flex;
}

.arrow-top svg {
    fill: #fff;
}
