/* ---- Base Rules ---- */

body {
    background: linear-gradient(136.86deg,rgb(87,188,144),rgb(0,118,108));
    margin: 0;
    font-family: 'Merriweather', serif;
    color: rgb(255,255,255);
}

/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {

    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
    
}

h2 {
    border-bottom: 1px solid rgb(204,204,17);
    font-family: 'Oxygen', Sans-Serif;
    color:rgb(255,255,255);
}

p {
    line-height: 1.6em;
    color: rgb(238,238,238);
}

/* ---- Layout Rules ---- */

main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
    
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: left;

/* CSS Property for the navigation bar to resize to column list for devices smaller than 50em */

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* Style to flex the anchor tag in the list element and not wrap them */

.navbar__menu li {
    list-style-type: none;
    display: flex;
}

.navbar__menu {
    display: none;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    z-index: 100;
}

.navbar__menu__mobile {
    display: block;
    padding: 0.75em;
    cursor: pointer;
}

.navbar__menu__mobile ul {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: space-evenly;
    align-items: stretch;
}

.navbar__menu__mobile li {
    list-style-type: none;
    display: flex;
    padding-bottom: 1em;
    flex-flow: flex-start;
    align-items: stretch;
}

.navbar__menu__mobile li:hover {
    background: rgb(119,136,153);
}

.navigation_burger {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.burger__item {
    width: 1em;
    margin-bottom: 0.4em;
    border-bottom: 0.1em solid white;
}

.navigation__modal {
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    animation: slide-in;
    position: fixed;
    top: 0;
    width: 45%;
    height: 100%;
    left:0;
    z-index: 200;
    background: rgb(184, 236, 212);
}

@keyframes slide-in {
    from {
        transform:translateX(-200px)
    }
    to {
        transform: translateX(0px)
    }
}

.navigation__modal__display {
    display: flex;
}

.close-btn-class {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2em;
    font-weight: bold;
}

.close-btn-class:hover {
    color: rgb(119,136,153);
}





/* CSS Property for the navigation bar to resize to column list for devices higher than 50em */

@media only screen and (min-width: 43.75em) {

    .navbar__menu {
        display: block;
    }

    .navbar__menu ul {
        flex-flow: row;
        justify-content: flex-end;
    }
    
    h2 {
        font-size: 3em;
    }

    .navbar__menu__mobile {
        display: none;
    }

    .navigation__modal {
        display: none;

    }

}

.menu__link {
    padding: 5px 15px 5px 5px;
    color: rgb(255,255,255);
    cursor: pointer;
} 

/* Header Styles */

.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */

.page__footer {
    background: rgb(0,0,0);
    padding: 3em;
    color: rgb(255,255,255);
}

.page__footer p {
    color: rgb(255,255,255);
}

/* ---- App How It Works Section Rules ----*/

.app__feature__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    background: rgb(255,200,9);
    padding: 5px 5px 5px 5px;
    border-radius: 0.5em;
}

.app__feature__item {
    color: rgb(0,0,0);
    text-align: center;
}

.h4__class {
    text-align: center;
}

@media only screen and (min-width:31.25em) {

    .app__feature__container {
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media only screen and (min-width: 50em){

    .app__feature__item {
        font-size: 2em;
    }

}

.start-fundraiser, .notify, .share, .post__update, .thank__donor {
    font-family: 'Font Awesome 5 Free';
}

.start-fundraiser:before {
    content: '\f304';
}

.notify:before {
    content: '\f0f3';
}

.share:before {
    content: '\f0a1';
}

.post__update:before {
    content: '\f093';
}

.thank__donor:before {
    content: '\f684';
}

/* ---- Theme Rules ---- */

/* Partner Container Styles */

.partner__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px 10px 10px 10px;
}

.partner__item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    cursor: pointer;
}

@media only screen and (min-width: 31.25em) and (max-width:50em) {

    .partner__container {
        grid-template-columns:repeat(2,1fr);
    }

}

@media only screen and (min-width:50em) {

    .partner__container {
        grid-template-columns: repeat(3,1fr);
    }

}

img {
    width: 100px;
    max-width: 100%;
    height: 100px;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }

}

.landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}


/* ---- Theme State Rules ---- */

/* Section Active Styles */

section.active-background {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); 
}

/* Style for Form Section to start Fundraiser **/

.form__group {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.form__button__layout {
    align-items: flex-end;
}

.form__input {
    font-size: 1.5em;
}

.form__message {
    height: 8rem;
    overflow: scroll;
}

.form__button {
    color:rgb(0,0,0);
    width: 100px;
    height: 30px;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.form__label {
    padding-bottom: 10px;
}

#form_label_name::after,#form_label_email:after{
    content:"*";
}


/* Style to Change Background of Header on scroll */

.header__color {
    background:  rgb(184, 236, 212);
}

.active-nav {
    background:rgb(119,136,153);
}

.arrow-top {
    position: fixed;
    display: none;
    bottom: 5%;
    right: 2vw;
    background: rgb(255,200,9);
    border-radius: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    cursor: pointer;
}

.arrow-top.active {
    display: flex;
}

.arrow-top svg {
    fill: rgb(255,255,255);
}